# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# IDE
.vscode/
.idea/
*.code-workspace

# Node.js
miniprogram/miniprogram_npm/
node_modules/

# WeChat MiniProgram
project.private.config.json
miniprogram/envList.js

# TypeScript
*.tsbuildinfo

.codegraph/