# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# IDE
.vscode/
.idea/

# Node.js
miniprogram/miniprogram_npm/
miniprogram/node_modules/
cloudfunctions/*/node_modules/

# WeChat MiniProgram
project.config.json
project.private.config.json
miniprogram/envList.js

# TypeScript
*.tsbuildinfo

.codegraph/