function calculateBackerDataColumn(backerDataList) {
  var row = Math.ceil(backerDataList.length / 4)
  var column = Math.ceil(backerDataList.length / row)
  return column
}

function calculateSelectorColumn(isNextPlayer, nextPlayerDataTuple, nextDealer) {
  var column = 0;

  nextPlayerDataTuple.forEach(function(nextPlayerData) {
    if (nextPlayerData.openid && (!isNextPlayer || nextPlayerData.openid !== nextDealer)) {
      column++
    };
  });

  return column
}

module.exports = {
  calculateBackerDataColumn: calculateBackerDataColumn,
  calculateSelectorColumn: calculateSelectorColumn
};